@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

/* individual styles */

/* navbar related styles */

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 87px;
}

.nav-logo {
  font-size: 1.5rem;
  color: #3a3a3a;
}

.nav-link li {
  list-style: none;
}
.nav-link li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
}

.nav-link ul {
  align-items: center;
  justify-content: center;
  gap: 34px;
}

/* hero section related styles */
.hero-section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.hero-content {
  max-width: 582px;
}

.hero-title {
  font-size: 3.2rem;
  line-height: 70px;
  letter-spacing: 0px;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 1rem;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-btn {
  padding: 10px 24px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #e02c6d;
  border-radius: 41px;
  border: none;
}
.hero-image {
  background-image: url(../images/Circle\ design.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
}
.hero-image img {
  width: 100%;
}

/* icon-container section related styles */

.icon-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 36px 62px;
  border-top: 2px solid rgba(211, 211, 211, 0.266);
  border-bottom: 2px solid rgba(211, 211, 211, 0.266);
  margin-bottom: 100px;
}

.icons {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.icons img {
  width: 100%;
}

/* popular collection related styles */

.popular-collection {
  max-width: 1047px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.popular-collection .heading {
  font-size: 1.8rem;
  line-height: 70px;
  color: #3a3a3a;
  margin-bottom: 30px;
}

.popular-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.card {
  padding: 17px 15px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  text-align: left;
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 16px;
}

.card .card-name {
  font-size: 1.8rem;
  line-height: 40px;
  color: #18191f;
  margin-bottom: 6px;
}

.card .card-price {
  font-size: 1.5rem;
  color: #000000;
}

.card-rating {
  padding: 5px 13px 5px 0px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 8px;
}

.card-rating .star i {
  color: gold;
  stroke: gold;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.card-rating .rating-number {
  font-size: 0.9rem;
  color: #5e6366;
}

.card .card-description {
  font-size: 0.9rem;
  color: #787885;
}

.popular-collection .see-more {
  gap: 8px;
  justify-content: right;
  align-items: center;
  color: rgba(224, 44, 109, 0.87);
  font-size: 1rem;
}

/* featured-products section related styles */
.featured-products {
  max-width: 1110px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 100px;
}

.featured-image {
  border-radius: 7px;
  width: 60%;
}

.featured-content h3 {
  font-size: 2.4rem;
  color: #0a0826;
  margin-bottom: 16px;
  letter-spacing: 0px;
}

.featured-content p {
  font-size: 1rem;
  color: #6c6c6c;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 16px;
}

.featured-content button {
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #e02c6d;
  border: none;
}

/* media query related styles  */

/* small device */

@media screen and (max-width: 572px) {
  /* navbar related styles */
  nav {
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
  }
  .nav-logo {
    margin-bottom: 20px;
  }
  .nav-link ul {
    gap: 15px;
  }

  /* hero section related styles */
  .hero-section {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
    padding: 15px;
  }

  .hero-title {
    font-size: 1.8rem;
    line-height: normal;
    margin-bottom: 15px;
  }
  .hero-description {
    font-size: 0.9rem;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .hero-image {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-content {
    text-align: center;
  }
  .hero-btn {
    justify-self: center;
  }

  /* icon-container section related */

  .icon-container {
    border: none;
    padding: 0 30px;
  }
  .icons {
    grid-template-columns: repeat(4, 1fr);
  }
  .icons img {
    width: 100%;
  }

  /* popular collection section related styles */
  .popular-cards {
    grid-template-columns: 1fr;
  }

  .popular-cards {
    margin-bottom: 32px;
  }

  .popular-collection {
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* medium device */
@media screen and (min-width: 572px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
  }
  .nav-logo {
    margin-bottom: 20px;
  }
  .nav-link ul {
    gap: 40px;
  }
}
