@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/* Shared styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 1280px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

/* individual styles */

/* navbar related styles */

nav {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 87px;
}

.nav-logo {
  font-size: 1.5rem;
  color: #3a3a3a;
}

.nav-link li {
  list-style: none;
}
.nav-link li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
}

.nav-link ul {
  align-items: center;
  justify-content: center;
  gap: 34px;
}

/* hero section related styles */
.hero-section {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.hero-content {
  max-width: 582px;
}

.hero-title {
  font-size: 3.2rem;
  line-height: 70px;
  letter-spacing: 0px;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-description {
  font-size: 1rem;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-btn {
  padding: 10px 24px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #e02c6d;
  border-radius: 41px;
  border: none;
}
.hero-image {
  background-image: url(../images/Circle\ design.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 30px 0;
}
.hero-image img {
  width: 100%;
}

/* icon-container section related styles */

.icon-container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 36px 62px;
  border-top: 2px solid rgba(211, 211, 211, 0.266);
  border-bottom: 2px solid rgba(211, 211, 211, 0.266);
}

.icons {
  justify-content: center;
  align-items: center;
  gap: 61px;
}

.icons img {
  width: 100%;
}

/* media query related styles  */

/* small device */

@media screen and (max-width: 572px) {
  /* navbar related styles */
  nav {
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
  }
  .nav-logo {
    margin-bottom: 20px;
  }
  .nav-link ul {
    gap: 15px;
  }

  /* hero section related styles */
  .hero-section {
    flex-direction: column-reverse;
    gap: 20px;
    text-align: center;
  }

  .hero-image {
    padding-left: 50px;
    padding-right: 50px;
  }

  .hero-content {
    text-align: center;
  }
  .hero-btn {
    justify-self: center;
  }

  /* icon-container section related */

  .icon-container {
    border: none;
    padding: 0 30px;
  }
  .icons {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }
}

/* medium device */
@media screen and (min-width: 572px) and (max-width: 992px) {
  nav {
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
  }
  .nav-logo {
    margin-bottom: 20px;
  }
  .nav-link ul {
    gap: 40px;
  }
}
